<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>User List Page</h1>
	<hr>
	<table border="1">
		<thead>
			<tr>
				<th>번호</th><th>아이디</th><th>패스워드</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td><a th:href="@{detail(uno=${list.uno})}">[[${list.uno}]]</a></td>
				<td th:text="${list.id}"></td>
				<td th:text="${list.pw}"></td>
			</tr>
		</tbody>
	</table>
	<a href="saveForm">회원 가입하기</a>
</body>
</html>